.main {
    margin-top: 70px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - (70px + 20px));
    width: calc(100vw - (40px + 40px));
}
.top-section {
    width: auto;
    flex: 0.4;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.mid-section {
    width: auto;
    flex: 4.5;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.map-container {
    display: grid;
    grid-template-columns: 1fr;
}

#map {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}


.bot-section {
  flex: 3.5;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr minmax(300px, 0.35fr); /* 👈 new: set nav min width */
  grid-template-areas:
    "statusMessage statusMessage"
    "chart nav";
  gap: 1em;
}


#statusMessage {
  grid-area: statusMessage;
  color: #555;
  font-style: italic;
  visibility: hidden; /* keeps space but hides content */
  height: 1.2em; /* consistent height reservation */
}
#statusMessage.show {
  visibility: visible;
}

.aqi-chart {
  grid-area: chart;
}



